$image_wid:100px;
$font_color:#1d2129;
$pop_color:#21252b;
$background_color:#f2f2f2;

@mixin link($color:$pop_color){
  color: $color;
  text-decoration: underline;
}

body{
  color: $font_color;
  background-color: $background_color;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Arial','メイリオ','ＭＳ Ｐゴシック',sans-serif;
  font-size: 14px;
}

div.top{
  background-color: white;
  margin-bottom: 2em;
}

div.sub:hover{
  transition: box-shadow 0.3s;
  box-shadow: 5px 5px 5px 2px #777;
}

img#RS{
  width: $image_wid;
  height: auto;
}

a:link{
  @include link();
}
a:visited{
  @include link();
}
a:hover{
  @include link(#566275);
}
a:active{
  @include link();
}
